/* NAVIGATION BAR */
header .topNavBar nav {
  z-index: 9999;
  position: fixed;
  background-image: linear-gradient(
    120deg,
    rgb(0, 31, 0),
    rgb(44, 1, 63),
    rgb(6, 6, 77),
    rgb(19, 18, 20)
  );
  width: 100%;
  height: 53px;
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT OF NAV_BAR */
header .topNavBar nav .left {
  font-size: 1.5rem;
  background: linear-gradient(to right, #690c2f, #0954c5, #630b63, #9b105a);
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .topNavBar nav .left .app-logo img {
  height: 30px;
  margin-left: 10px;
}
header .topNavBar nav .left .app-name h3 {
  margin-left: 10px;
}

/* LIST ITEMS OD NAV BAR */

header .topNavBar nav ul {
  display: flex;
}
header .topNavBar nav ul li {
  list-style-type: none;
  position: relative;
  font-size: 15px;
  color: #aab0c2;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.3s linear;
}
header .topNavBar nav ul li:hover {
  color: white;
}
header .topNavBar nav ul li:nth-child(2) {
  color: white;
}
header .topNavBar nav ul li .active {
  color: #fff;
}
header .topNavBar nav ul li a {
  color: #aab0c2;
}

header .topNavBar nav ul li a:hover {
  color: #ffffff;
}
header .topNavBar nav ul li span {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: #36e2ec;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
}

/* SEARCH BAR OF TOP NAV BAR */

header .topNavBar nav .search {
  position: relative;
  width: 20%;
  padding: 0px 0px;
  border-radius: 20px;
  color: rgb(153, 153, 153);
}
header .topNavBar nav .search::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  z-index: -1;
}
header .topNavBar nav .search .uil {
  font-size: 13px;
  padding: 3px 0px 0px 10px;
  cursor: pointer;
  width: 10%;
}
header .topNavBar nav .search .uil:hover {
  color: #fff;
}
header .topNavBar nav .search button {
  background: none;
  outline: none;
  border: none;
  color: gray;
}
header .topNavBar nav .search input {
  background: none;
  border: none;
  outline: none;
  padding: 0px 10px;
  color: white;
  font-size: 12px;
  width: 80%;
}

header .topNavBar nav .search .uil-microphone {
  margin-left: 10px;
}

/* RIGHT OF NAV_BAR */

header .topNavBar nav .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .topNavBar nav .right .bell-icon {
  font-size: 1.5rem;
  color: #aab0c2;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
header .topNavBar nav .right .bell-icon:hover {
  color: #fff;
}
header .topNavBar nav .user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .topNavBar nav .user i {
  font-size: 2rem;
  color: #aab0c2;
  margin-top: 5px;
  cursor: pointer;
}
header .topNavBar nav .user i:hover {
  color: white;
}
header .topNavBar nav .bars {
  display: none;
}
header .topNavBar nav .bars {
  font-size: 2rem;
  color: #aab0c2;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 5px;
}

/* MEDIA QUERIES FOR TOP NAV BAR */

@media screen and (max-width: 1650px) {
  header .topNavBar nav .search input {
    width: 70%;
  }
}

@media screen and (max-width: 1390px) {
  header .topNavBar nav .search input {
    width: 60%;
  }
}
@media screen and (max-width: 910px) {
  header .topNavBar nav .search input {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  header .topNavBar nav ul {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  header .topNavBar nav .search input {
    display: none;
  }
  header .topNavBar nav .search .uil-microphone {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  header .topNavBar nav .search {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  header .topNavBar nav .right {
    display: none;
  }
  header .topNavBar nav .bars {
    display: initial;
    margin-left: 10px;
    color: #aab0c2;
  }
}
