*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    color: #ffffff;
    text-decoration: none;
}
body {
    background-image: linear-gradient(120deg, rgb(2, 2, 82), rgb(45, 0, 45), darkblue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}
.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}